/* 
*
*   from https://github.com/processing/p5.js/wiki/Positioning-your-canvas#centering-the-sketch-on-the-page-with-css 
*
*/

html, body {
    height: 100%;
}

body {
    margin: 0px; /* gets rid of any borders */
    display: flex; /* centers the content */

    /* This centers our sketch horizontally. */
    justify-content: center;
    /* This centers our sketch vertically. */
    align-items: center;
}

#container {
    position: absolute;
    margin: 10px;
    /* top: 210px; */
}

div {
    /* position: absolute; */
    margin: 10px;
    /* top: 210px; */
}

button {
    /* background-color: transparent; */
    /* position: absolute; */
    margin: 10px;
    padding: 10px;
    border-radius: 100px;
    border-width: 20px;
    /* top: 230px; */
}

input {
    /* background-color: transparent; */
    /* position: absolute; */
    margin: 10px;
    /* top: 250px; */
}