/* 
*
*   from https://github.com/processing/p5.js/wiki/Positioning-your-canvas#centering-the-sketch-on-the-page-with-css 
*
*/

html, body {
    height: 100%;
}

body {
    margin: 0px; /* gets rid of any borders */
    display: flex; /* centers the content */


    justify-content: center;

    align-items: center;
}

div {
    position: absolute;
    top: 210px;
}

button {
    /* background-color: transparent; */ 
    position: absolute;
    top: 230px;
}

input {
    /* background-color: transparent; */
    position: absolute;
    top: 250px;
}